* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

.back-button, .home-button {
    margin-top: 20px;
    background-color: #007bff;
    cursor: pointer;
}

.back-button:hover, .home-button:hover {
    background-color: #0056b3;
}

#resultTable, #portfolioTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#resultTable th, #resultTable td, #portfolioTable th, #portfolioTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#resultTable th, #portfolioTable th {
    background-color: #f2f2f2;
}
